<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE SOLICITUDES</span>
                    <button class="btn btn-success float-end" routerLink="/crear-solicitud">NUEVO</button>
                    <table class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Correo Electrónico</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col">Tema</th>
                            <th scope="col">Detalle</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Juan</td>
                            <td>piolo@gmail.com</td>
                            <td>3208</td>
                            <td>Suspensión</td>
                            <td>Lorem</td>
                            <td>
                                <i class="fas fa-edit text-primary"></i>
                                <i class="fas fa-trash text-danger"></i>
                            </td>
                          </tr>
                          <tr>
                            <td>Jacob</td>
                            <td>jacob@gmail.com</td>
                            <td>3568</td>
                            <td>Adquisición</td>
                            <td>Lorem</td>
                            <td> 
                                <i class="fas fa-edit text-primary"></i> 
                                <i class="fas fa-trash text-danger"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>