<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">{{titulo | uppercase}}</span>
                    <button class="btn btn-success float-end" routerLink="/crear-solicitud">NUEVO</button>
                    <table *ngIf="listSolicitudes.length>0" class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Correo Electrónico</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col">Tema</th>
                            <th scope="col">Detalle</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let solicitud of listSolicitudes">
                            <td>{{solicitud.nombre}}</td>
                            <td>{{solicitud.correo}}</td>
                            <td>{{solicitud.telefono}}</td>
                            <td>{{solicitud.tema}}</td>
                            <td>{{solicitud.detalle}}</td>
                            <td>
                                <i [routerLink]="['/editar-solicitud',solicitud._id]" class="fas fa-edit text-primary"></i>
                                <i (click)="eliminarSolicitud(solicitud._id)" class="fas fa-trash text-danger"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <h5 style="text-align: start; margin-top: 10px;" *ngIf="listSolicitudes.length==0">No hay productos para mostrar</h5>
                </div>
            </div>
        </div>
    </div>
</div>